.node-red/.flows.json.backup
[
    {
        "id": "1cfcde9238a4955f",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "357c66447b2fa80b",
        "type": "http in",
        "z": "1cfcde9238a4955f",
        "name": "",
        "url": "/api1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "c6028d3ea1bc4d91",
                "6960b1583b3d5d3c"
            ]
        ]
    },
    {
        "id": "9f1b50a74ca8a564",
        "type": "http response",
        "z": "1cfcde9238a4955f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "c6028d3ea1bc4d91",
        "type": "change",
        "z": "1cfcde9238a4955f",
        "name": "タイムスタンプ",
        "rules": [
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "9f1b50a74ca8a564"
            ]
        ]
    },
    {
        "id": "6960b1583b3d5d3c",
        "type": "debug",
        "z": "1cfcde9238a4955f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 280,
        "wires": []
    }
]